@page "/Customer/Index"

@namespace CustomerCrud.Client.Components.Pages.Customer

@using CustomerCrud.Application.Dtos;
@using CustomerCrud.Application.Features.Queries;

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>
@if (!string.IsNullOrEmpty(message))
{
    <h3>@message</h3>
}

<div class="vh-100">
    <MudCard>
        <MudCardContent>
            <MudTable id="cutomers_table" @ref="customersTable" Items="Customers" Hover="true" SortLabel="Sort By" Elevation="0" Filter="new Func<CustomerDto,bool>(TableFilterFunction)" EditTrigger="TableEditTrigger.EditButton">
                <ToolBarContent>
                    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => NavigationManager.NavigateTo("/Customer/Create"))"><MudText>Create New</MudText></MudButton>
                    <MudSpacer />
                    <SearchField @bind-SearchString="@cutomerSearchString"></SearchField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh><MudTableSortLabel SortBy="new Func<CustomerDto, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<CustomerDto, object>(x=>x.Firstname)">Firstname</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<CustomerDto, object>(x=>x.Lastname)">Lastname</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<CustomerDto, object>(x=>x.Email)">Email</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<CustomerDto, object>(x=>x.PhoneNumber)">BankAccountNumber</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<CustomerDto, object>(x=>x.BankAccountNumber)">BankAccountNumber</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<CustomerDto, object>(x=>x.DateOfBirth)">DateOfBirth</MudTableSortLabel></MudTh>
                    <MudTh>Actions</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Id">@context.Id</MudTd>
                        <MudTd DataLabel="Firstname">@context.Firstname</MudTd>
                        <MudTd DataLabel="Lastname">@context.Lastname</MudTd>
                        <MudTd DataLabel="Email">@context.Email</MudTd>
                        <MudTd DataLabel="PhoneNumber">@context.PhoneNumber</MudTd>
                        <MudTd DataLabel="BankAccountNumber">@context.BankAccountNumber</MudTd>
                        <MudTd DataLabel="DateOfBirth">@context.DateOfBirth</MudTd>
                        <MudTd DataLabel="">
                            <MudFab @onclick="@(()=> Edit(@context.Id))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                            <MudFab @onclick="@(()=> SendDeleteUserRequest(@context.Id))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                        </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[]{10, 20, 50}" />
                </PagerContent>
            </MudTable>
        </MudCardContent>
    </MudCard>
</div>

